.header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  min-height: 2.5rem;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
