.dashboard__progress-container {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
  gap: 10px;
  justify-content: space-evenly;
}

.dashboard__topics-progress-container,
.dashboard__streak-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  flex: 1;
}
