.next-prev-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.page-counter {
  font-size: 1rem;
}

.prev-button,
.next-button {
  padding: 5px 10px;
}

.prev-button.no-active,
.next-button.no-active {
  opacity: 20%;
  cursor: not-allowed;
}
