.next-prev-container {
  display: flex;
  gap: var(--spacing-2-5);
  justify-content: center;
  align-items: center;
  padding-bottom: var(--spacing-1-25);
}

.page-counter {
  font-size: 1rem;
}

.prev-button,
.next-button {
  padding: var(--spacing-0-3) var(--spacing-0-6);
}
