.practice__results-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: 100%;
  padding-top: 1.7rem;
  width: 90%;
}

.practice__header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}

.result__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 40%;
  justify-content: center;
  box-shadow: 0.35rem 0.35rem 0.35rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  }
  padding: 3rem;
  background-color: var(--bg-color);
  @media screen and (max-width: 600px) {
    width: 90%;
  }
}

.result__answers-list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.result__answers-item {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.result__correct-answer {
  color: green;
}

.result__incorrect-answer {
  color: gray;
}
