* {
  box-sizing: border-box;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
  font-size: clamp(0.7rem, 1vw + 0.5rem, 1rem);
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  width: 100%;
  flex: 1;
  min-height: 0;
}
