.loader-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10;
  user-select: none;
}

.loader-container {
  flex-direction: column;
  gap: var(--spacing-0-6);
  background: white;
  padding: var(--spacing-1-25);
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container__spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 2px solid var(--primary-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
