.dashboard__progress-topic-container {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
}
.dashboard__progress-topic-container.dashboard__total-progress {
  flex-direction: column;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}

.dashboard__progress-topic-title {
  flex: 0 0 35%;
  min-width: 0;
  word-break: break-all;
}

.dashboard__topic-progress-percent-container {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
  gap: 5px;
}
.dashboard__topic-progress-percent-container.dashboard__total-progress {
  width: 100%;
}

.dashboard__topic-progress {
  max-height: 5px;
  flex: 1 1 auto;
  min-width: 0;
  -webkit-appearance: none;
  appearance: none;
}

.dashboard__topic-progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 10px;
}

.dashboard__topic-progress::-webkit-progress-value {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.dashboard__topic-progress::-moz-progress-bar {
  background-color: var(--primary-color);
}

.dashboard__topic-percent {
  flex: 0 0 25%;
  text-align: right;
}

.dashboard__topic-percent.dashboard__total-progress {
  flex: 0 0 20%;
}
