.memory-game__object-node {
  fill: var(--bg-color);
  stroke: black;
  stroke-width: 2;
  cursor: pointer;
  width: 7.5rem;
  height: 3.5rem;
  rx: 8;
}

.memory-game__object-node.garbage {
  fill: #ffcccc;
}

.memory-game__object-link {
  stroke: black;
  stroke-width: 1;
  fill: none;
  pointer-events: none;
}

.memory-game__link-label {
  font-size: 0.7rem;
  text-anchor: middle;
  fill: black;
  pointer-events: none;
}

.memory-game__object-text {
  font-family: Arial, sans-serif;
  dominant-baseline: middle;
  text-anchor: middle;
  pointer-events: none;
}
