.profile-page {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  gap: 2rem;
  background-color: var(--bg-color);
}

.button {
  width: fit-content;
  height: fit-content;
}

.profile__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.profile__header-buttons {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
}

.profile__avatar {
  width: 15rem;
  height: 15rem;
  box-shadow: 0.35rem 0.35rem 0.35rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  &:hover {
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
  }
}

.profile__description {
  width: 25rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.profile__description-block {
  display: flex;
  justify-content: space-between;
}

.profile__description-header {
  display: flex;
}

#profile-achievement-wrapper,
#profile-settings-header {
  color: var(--descr-color);
}

.hidden {
  display: none;
}

.profile__settings-header {
  display: flex;
  justify-content: space-between;
}

.profile__settings-buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
