.dashboard__session-history-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 10px;
}

.dashboard__sessions-container {
  min-height: 83px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  border: 1px solid black;
  border-radius: 10px;
  gap: 10px;
}

.dashboard__session-history-paragraph {
  font-size: 1rem;
}
