.dashboard__session-history-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard__sessions-container {
  min-height: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dashboard__session-history-paragraph {
  font-size: 1rem;
}
