.dashboard__session-container {
  display: flex;
  gap: var(--spacing-0-25);
  width: 100%;
  align-items: center;
}

.dashboard__session-topic-title {
  flex: 0 0 35%;
  min-width: 0;
  word-break: break-all;
}

.dashboard__session-topic-score {
  text-align: center;
  flex: 0 0 20%;
}

.dashboard__session-topic-date {
  flex: 1 1 auto;
  text-align: center;
}

.dashboard__session-topic-button {
  flex: 0 0 10%;
  text-align: center;
  max-height: 0.6rem;
  padding: var(--spacing-0-6) 0;
}
